body {
  margin: 0;
  background: rgba(15, 15, 226, 0.76);
  font-family: "Nanum Myeongjo", serif;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
header {
  border: 1px solid black;
  position: relative;
  margin-bottom: 30px;

  width: 100%;
  box-shadow: 0 0 5px 1px rgb(6, 6, 92);
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header img {
  position: relative;
  top: 30px;
  height: 60px;
  width: 60px;
  filter: invert(90%);
}
.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320;
}
.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #dac614;
}
.text {
  font-family: "Libre Barcode 128 Text", cursive;
  color: #fff;
  text-align: center;

  font-size: 40px;

  position: relative;
  top: -48px;
}
@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

/* ---------------------------------------------main */
.spacer {
  padding: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
main {
  /* border: 1px solid black; */
  display: flex;
}
.arrow {
  align-items: center;
  height: 40px;
  width: 40px;
  filter: invert(80%);
}
.company-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 430px;
  left: 20px;
  color: rgb(192, 188, 188);
  text-align: center;
  /* border: 1px solid black; */
}
.company-container img {
  height: 60px;
  width: 60px;
  filter: invert(75%);
}

.company-name {
  font-size: 40px;
  padding-left: 10px;
}
.company-name:hover {
  transition: 2s;
  color: #b8a929;
}

#grid {
  position: relative;
  margin: 0 auto;
  width: 60%;
  padding: 0;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

#grid li {
  list-style-type: none;
  position: relative;
  float: right;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  background: #fd005f;
  overflow: hidden;
  visibility: hidden;
}

#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fdbe002f;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
}
#grid li #one:hover {
  background-image: url(../images/chicken.jpg);
}
#grid li #two:hover {
  background-image: url(../images/surprised-chemists.jpg);
}
#grid li #three:hover {
  background-image: url(../images/crazy-eyes.jpg);
  object-fit: scale-down;
  transition: 1s;
}
#grid li .hexagon:hover {
  background: #b8a929;
  transition: 1.5s;
}

#grid li * {
  visibility: visible;
}

#grid li:nth-child(3n + 2) {
  margin: 0 1%;
}

#grid li:nth-child(6n + 4),
#grid li:nth-child(6n + 5),
#grid li:nth-child(6n + 6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

/* -------------------------------------------------------------article */

article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 100px;
}

.article-container {
  border: 1px solid black;
  width: auto;
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;
}
.article-wrapper {
  width: auto;
  padding: 10px;
  background: #fdbe002f;
}
.article-wrapper p {
  width: 400px;
}
.article-container img {
  border-radius: 2%;
  height: 300px;
  width: 400px;
  filter: brightness(80%);
}
