body {
  margin: 0;
}
header {
  background: #ff3e41;
}
h1 {
  text-align: center;
  padding: 100px 0;
  color: white;
}
/* -------------------------------main */

main {
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  background: rgb(233, 229, 229);
}
.question-container {
  border: 1px solid black;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #a35757;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #bb2828;
}

.message-container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
}
form {
  border: 1px solid black;
  padding: 40px;
  padding-right: 60px;
  background: white;
}
ul img {
  height: 20px;
  width: 20px;
}
ul {
  list-style-type: none;
}
.map-container {
  background-image: url(../images/google-map.jpg);
  background-size: cover;

  padding: 40px 0;
}
.address-container {
  height: 200px;
  width: 200px;
  background: white;
  margin-left: 20px;
  padding: 15px;
  box-shadow: 0 0 15px 1px rgb(95, 93, 93);
}
.address-container h3 {
  color: rebeccapurple;
  font-size: 25px;
}
.address-container button {
  border: none;
  font-size: 15px;
  color: indigo;
  padding-top: 40px;
  text-align: center;
}

footer {
}
.icons {
  text-align: center;
  margin-top: 150px;
}

.icons img {
  margin: 0 5px;
  width: 50px;
  height: 50px;
}
.icons img:hover {
  filter: invert(50%);
}
